
/* 1. Base y Configuración */
@import url('css/base.css');

/* 2. Estructura (Header, Footer) */
@import url('css/layout.css');

/* 3. Secciones Específicas */
@import url('css/hero.css');
@import url('css/about.css');
@import url('css/services.css');
@import url('css/testimonials.css');
@import url('css/contact.css');

/* 4. Otros (Loader, Utilidades extra) */
.img-error {
    display: none;
}

.loading-screen {
    position: fixed;
    inset: 0;
    background: var(--bg-body);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}